<!DOCTYPE html>
<html lang="ja">
<head>
    <title></title>
    <link rel='stylesheet' href='/css/style.css'/>
    <script src="/js/views/index-view.js" type="application/javascript"></script>
</head>
<body>
<h1>TOEIC 一問一答</h1>
<div>
    <div>
        <input type="checkbox" id="chkExceptAnswer" />
        <label for="chkExceptAnswer">理解済の問題を外す(チェックなら外す)</label>
    </div>
    <div>
        <% for (var i = 0; i < buttons.length; i++) { %>
            <button type="button" class="button-gray" onclick="PageTransition('<%=buttons[i].route%>')"><%=buttons[i].text%></button>
        <% } %>
    </div>
</div>
</body>
</html>
